<h2 class="w3-teal">New Product</h2>
<form>

<input type="text" name="name" [(ngModel)]="product.name" class="w3-input" />

<input type="text" name="description [(ngModel)]="product.description" class="w3-input" />

<!-- 
Ogni casella di testo deve avere un name univoco

-->
<input type="text" name="ingredients" [(ngModel)]="product.ingredients" class="w3-input" />
<input type="number" name="carbs" [(ngModel)]="product.carbs" class="w3-input" />
<input type="number" name="proteins" [(ngModel)]="product.proteins" class="w3-input" />
<input type="number" name="fats" [(ngModel)]="product.fats" class="w3-input" />
<input type="number" name="price" [(ngModel)]="product.price" class="w3-input" />
<select>

    


</select>


</form>